<footer>
    <div class="footer-top">
        <a href="/">
            <img class="logo" src="../../build/img/logo.svg" alt="">
        </a>
        <div class="header-right">
            <ul class="header-list">
                <li>
                    <a href="#">О студии</a>
                </li>
                <li>
                    <a href="#">Направления</a>
                </li>
                <li>
                    <a href="#">Расписание</a>
                </li>
                <li>
                    <a href="#">Цены</a>
                </li>
                <li>
                    <a href="#">преподаватели</a>
                </li>
                <li>
                    <a href="#">Отзывы</a>
                </li>
            </ul>
            <div class="burger"><span></span></div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2020 Сила Движения. All rights reserved</p>
        <p>
            <a href="/policy">Правовая информация</a>
        </p>
        <p>Made with <img src="../../build/img/heart.svg" alt=""> in Simplexx</p>
    </div>
</footer>
