<div class="menu">
    <div class="menu-content">
        <ul class="menu-list">
            <li class="active">
                <a href="#about" class="scrollTo">О студии</a>
            </li>
            <li>
                <a href="#teach" class="scrollTo">Направления</a>
            </li>
            <li>
                <a href="#schedule" class="scrollTo">Расписание</a>
            </li>
            <li>
                <a href="#prices" class="scrollTo">Цены</a>
            </li>
            <li>
                <a href="#prepod" class="scrollTo">преподаватели</a>
            </li>
            <li>
                <a href="#review" class="scrollTo">Отзывы</a>
            </li>
            <li>
                <a href="#contact" class="scrollTo">Контакты</a>
            </li>
        </ul>
        <div class="btn-zapis open-pop-up-menu">Записаться</div>
    </div>

</div>
