.not-found {
    padding-top: 100px;
    text-align: center;
    height: 100vh;
    height: calc(var(--vhMenu, 1vh) * 100);
    h3 {
        margin-bottom: 24px;
    }
    a {
        color: #E72B5C;
        text-decoration: underline;
        transition: .2s;
        &:hover {
            color: #E72B5C;
            text-decoration: none;
        }
    }
}
.cifra {
    font-size: 180px;
    font-weight: bold;
    color: #E72B5C;
}
@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .not-found {
        padding-top: 125px;
    }
}
