<div id="form" class="pop-up-general-block">
    <p class="form-title">Записаться на&nbsp;занятие</p>
    <form>
        <div class="input-block">
            <p class="input-title">Направление</p>
            <div class="input-style">
                <div class="custom-select-wrapper custom-select-wrapper-main">
                    <label for="categorySelect2"></label>
                    <select class="input-valid select-parent" id="categorySelect2">
                        <option value="Силовые тренировки для подростков">Силовые тренировки для подростков</option>
                        <option value="Категория2">Категория2</option>
                        <option value="Категория3">Категория3</option>
                        <option value="Категория4">Категория4</option>
                    </select>
                    <div class="custom-select-head placeholder"><span>Силовые тренировки для подростков</span></div>
                    <div class="custom-select-list-wrapper">
                        <ul class="custom-select-list select-parent">
                            <li data-cat="cat1" data-value="Силовые тренировки для подростков">Силовые тренировки для подростков</li>
                            <li data-cat="cat2" data-value="Категория2">Категория2</li>
                            <li data-cat="cat3" data-value="Категория3">Категория3</li>
                            <li data-cat="cat4" data-value="Категория4">Категория4</li>
                        </ul>
                    </div>
                </div>
                <p class="input-error">Ошибка ввода</p>
            </div>
        </div>
        <div class="input-block input-block-name">
            <p class="input-title">имя и фамилия</p>
            <div class="input-style">
                <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Контактное имя взрослого">
                <p class="input-error">Ошибка ввода</p>
            </div>
        </div>
        <div class="input-block">
            <p class="input-title">Телефон</p>
            <div class="input-style">
                <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="+7">
                <p class="input-error">Ошибка ввода</p>
            </div>
        </div>
        <div class="input-block">
            <input class="form-btn" type="submit" name="" value="Записаться">
        </div>
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="thnx" class="pop-up-general-block thnx">
    <p class="form-title">Ваша Заявка получена!</p>
    <div>Спасибо за обращение! Наш менеджер перезвонит Вам в&nbsp;течение дня!</div>
    <a href="/" class="btn-zapis">вернуться на сайт</a>
    <div class="pop-up-general-block-close-btn"></div>
</div>
